.contact{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.contact >*{
    flex: 1 0 300px;
    padding: 10px;
    margin: 10px;
}
.contact-details{
    line-height: 1.5;
}
.contact-details h2{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
}
.contact-details p{
    font-size: .9rem;
    margin: 10px 0;
}
.contact-details h2>*{
    margin-left: 10px;
}
.contact-details ul li{
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    max-width: 80%;
}
.contact-details ul li a {
    display: flex;
    align-items: center;
    line-height: 1.3;
}
.contact-details ul li a >*{
    margin-right: 8px;
    color: var(--primary-blue);
    width: 20px;
    height: 25px;
}
.contact form label{
    margin-top: 10px;
    height: 100%;
    width: 100%;
}
.contact form input,
.contact form textarea{
    padding: 15px;
    margin: 10px 0;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(206, 217, 228);
}
.contact form textarea{
    height: 100px;
}
.contact form button{
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 12px;
    font-size: .9rem;
}