.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(39, 38, 38, 0.9),rgba(0, 0, 0, 0.9)), url(../assets/land.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}
.hero-heading{
    font-size: calc(3vmax + 1rem);
    max-width: 900px;
    width: 90%;
}
.hero-desc{
    max-width: 700px;
    width: 80%;
    font-size: 1.2rem;
    margin: 20px auto;
}

